<?xml version="1.0"?>
<model>
  <name>Standard VTOL with Gimbal</name>
  <version>1.0</version>
  <sdf version='1.4'>standard_vtol.sdf</sdf>

  <author>
   <name>Roman Bapst</name>
   <email>roman@px4.io</email>
  </author>

  <description>
    This is a model of a standard VTOL quad plane with a 3-axis gimbal camera.
  </description>

  <depend>
    <model>typhoon_h480</model>
  </depend>
</model>
